body{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    margin: 50px;
    color:aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#trabajos{
    margin-top: 20px;
    text-align: left;
    font-family: 'Tourney', cursive;
}

#lista{
    list-style: none;
}

#lista a img {
    border: 30px solid;
}

#lista a{
    color:white;
    text-decoration: none;
}

#lista a:hover{
    color:crimson;
}