#cuadrado{
    height: 1cm;
    width: 1cm;
    margin-left: 1cm;
    margin-top: 1cm;
}

#boton1{
    margin-top: 20%;
}

#boton2{
    margin-top: 20%;
}

#cuadradoNuevo{
    height: 1cm;
    width: 1cm;
    position: absolute;
    z-index: 1;
}